.game-room-con {
    background-color: #111;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-room-h4 {
    color: #D95BA0;
    font-size: 30px;
    margin-bottom: 10px;
}

.game-room-p {
    margin-top: 10px;
}