@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.game-detail-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #111;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.details-con {
    flex: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 50px;
}

.trailer-con {
    flex: 40%;
    height: 100vh;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

summary {
    cursor: pointer;
    font-size: 15px;
}

details {
    margin-left: 0;
}

.game-des {
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
    word-spacing: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.game-name {
    margin-left: 0;
    font-size: 40px;
    color: #D95BA0;
}

.game-genre {
    margin-left: 0;
}

.game-tags {
    margin-left: 0;
    width: 100%;
}

.genre {
    color: #D95BA0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 7px;
}

.trailer-name {
    color: #D95BA0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 7px;
}

.des {
    color: #D95BA0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 7px;
    margin-left: 0;
    margin-bottom: -10px;
}

.tag {
    color: #D95BA0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 7px;
}

.rating {
    color: #D95BA0;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 7px;
}

.genres {
    font-size: 15px;
}

.min-req {
    font-size: 12px;
}

.tags {
    font-size: 12px;
    color: #fff;
    background-color: #D95BA0;
    border-radius: 20px;
    margin-left: 10px;
    padding: 7px 10px;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
}

.website {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.videosFrame {
    width: 100%;
    height: 50vh;
}

.next-page {
    color: #fff;
    background-color: #D95BA0;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 20px 0px;
    margin-left: 10px;
    text-align: center;
}

.previous-page {
    color: #fff;
    background-color: #D95BA0;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 20px 0px;
    margin-right: 10px;
    text-align: center;
}

.web-btn {
    background-color: #D95BA0;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.nothing-yet {
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.loading {
    font-size: 10px;
    margin: 260px auto;
    width: 70px;
    justify-content: center;
    display: flex;
    height: 70px;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, #D95BA0 10%, #111 42%);
    position: relative;
    animation: load 1.4s infinite ease-in-out;
  }

  .loading::before {
    content: '';
    width: 50%;
    height: 50%;
    background: #D95BA0;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .loading::after {
    background: #111;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 700px) {
    .game-detail-container {
        height: 180vh;
        flex-direction: column;
    }
    .details-con {
        height: 100vh;
        padding: 0px 20px;
    }
    .trailer-con {
        height: 80vh;
        padding: 20px;
    }
    summary {
        font-size: 12px;
    }
    .game-des {
        text-align: center;
        line-height: 20px;
        font-size: 12px;
    }
    .game-name {
        font-size: 25px;
    }
    .genre {
        font-size: 15px;
    }
    .trailer-name {
        font-size: 15px;
    }
    .des {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .tag {
        font-size: 15px;
    }
    .rating {
        font-size: 15px;
    }
    .genres {
        font-size: 13px;
    }
    .min-req {
        font-size: 10px;
    }
    .tags {
        font-size: 10px;
    }
    .videosFrame {
        width: 100%;
        height: 50vh;
    }
}